/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600); /*'Source Sans Pro'*/
/*@import url(http://fonts.googleapis.com/css?family=Orbitron);/*Orbitron*/

body{
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 10px;
    margin-right:13px;
    background-color: #f0f0f0 ;
    color:#292728;
    overflow: hidden;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

body.dark{
    color:#f0f0f0;
    background-color:#292728;
}
.mainTitle{
    font-family: 'Orbitron';
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(240,240,240,0.1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(240,240,240,0.1);
}

.trainList{
    overflow-y:auto;
    overflow-x:hidden;
    padding-right:2px;
    max-height:415px;
    z-index:10;
    padding-bottom:10px;
    padding-top:10px;

    /*W8 metro */
    -ms-overflow-style:-ms-autohiding-scrollbar;
}
.trainList:after,
.trainList:before{
    content:' ';
    display:block;
    position:absolute;
    display:block;
    height:10px;
    width:100%;
    left:0;
    z-index:11;
}

.trainList:after{
    margin-top:415px;
}
.trainList:before{
    margin-top:-10px;
}

body.dark .trainList:after{
    background: -moz-linear-gradient(top,  rgba(41,39,40,0) 0%, rgba(41,39,40,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,39,40,0)), color-stop(100%,rgba(41,39,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(41,39,40,0) 0%,rgba(41,39,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(41,39,40,0) 0%,rgba(41,39,40,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(41,39,40,0) 0%,rgba(41,39,40,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(41,39,40,0) 0%,rgba(41,39,40,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00292728', endColorstr='#292728',GradientType=0 ); /* IE6-9 */
}
body.dark .trainList:before{
    background: -moz-linear-gradient(top,  rgba(41,39,40,1) 0%, rgba(41,39,40,0) 99%, rgba(41,39,40,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,39,40,1)), color-stop(99%,rgba(41,39,40,0)), color-stop(100%,rgba(41,39,40,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(41,39,40,1) 0%,rgba(41,39,40,0) 99%,rgba(41,39,40,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(41,39,40,1) 0%,rgba(41,39,40,0) 99%,rgba(41,39,40,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(41,39,40,1) 0%,rgba(41,39,40,0) 99%,rgba(41,39,40,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(41,39,40,1) 0%,rgba(41,39,40,0) 99%,rgba(41,39,40,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292728', endColorstr='#00292728',GradientType=0 ); /* IE6-9 */
}

.trainList:after{
    background: -moz-linear-gradient(top,  rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f0f0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
.trainList:before{
    background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(240,240,240,0) 99%, rgba(240,240,240,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(99%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(240,240,240,0) 99%,rgba(240,240,240,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(240,240,240,0) 99%,rgba(240,240,240,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(240,240,240,0) 99%,rgba(240,240,240,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(240,240,240,0) 99%,rgba(240,240,240,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#00f0f0f0',GradientType=0 ); /* IE6-9 */

}

.selectorLine{
    line-height: 50px;
}
.selectorLine h2,.selectorLine h1,.selectorLine h3,.selectorLine h4,.selectorLine h5{
    display:inline-block;
    margin-left: 10px;
    margin-right : 10px;
    font-weight: normal;
}
.selectorLine h5:first-of-type,.selectorLine h4:first-of-type,.selectorLine h3:first-of-type,.selectorLine h2:first-of-type,.selectorLine h1:first-of-type{
    margin-left: 0;
}



.row-fluid.trainLine [class*="span"]{
    min-height: 0;
    height:100%;
}
.trainLine{
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 5px;
    background-image: url("../img/smallBlue.png");
    color:#000 ;
    overflow: hidden;
}
body.dark .trainLine{
    border: 1px solid rgba(255,255,255,0.5);
}

body .trainLine.removed{
    animation-name: trainLineRemoving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    -webkit-animation-name: trainLineRemoving;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: trainLineRemoving;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;

    -o-animation-name: trainLineRemoving;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;


}

body .trainLine.removed.realy{

    transition-property: all;
    transition-duration: 2s;
    transition-timing-fonction: ease-in-out;

    -moz-transition-property: all;
    -moz-transition-duration: 2s;
    -moz-transition-timing-fonction: ease-in-out;

    -o-transition-property: all;
    -o-transition-duration: 2s;
    -o-transition-timing-fonction: ease-in-out;

    -webkit-transition-property: all;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-fonction: ease-in-out;

    -o-animation : none ;
    -webkit-animation : none ;
    -moz-animation : none ;
    animation : none ;

    margin-top:-1.2em;
    margin-bottom:0;
    border-top:0;
    border-bottom:0;
    opacity:0;

}
@-webkit-keyframes trainLineRemoving {
	0%   {
	    opacity: 1;
	}
	50%   {
	    opacity: 0.3;
	 }
	100% {
	    opacity: 1;
	}
}
@-o-keyframes trainLineRemoving {
	0%   {
	    opacity: 1;
	}
	50%   {
	    opacity: 0.3;
	 }
	100% {
	    opacity: 1;
	}
}
@-moz-keyframes trainLineRemoving {
	0%   {
	    opacity: 1;
	}
	50%   {
	    opacity: 0.3;
	 }
	100% {
	    opacity: 1;
	}
}
@keyframes trainLineRemoving {
	0%   {
	    opacity: 1;
	}
	50%   {
	    opacity: 0.3;
	 }
	100% {
	    opacity: 1;
	}
}



.trainLine .trainCode{
    background-image: url("../img/miniprevtitle.gif");
    color:#fff ;
    background-size : auto 100% ;
    text-align: left;
    padding-left: 5px;
    background-position: 100% 0;
    font-weight: 400;
    background-repeat: no-repeat;
}
.trainLine.hasMention{
    background-image: url("../img/smallOrange.png");
}
.trainLine.hasMention .trainCode{
    background-position: 0 100%;
}
.trainLine .trainMention{
    text-align: center;
    margin-left:0;
    margin-right: 33px;
    font-weight: 300;
}
.trainLine.hasMention .trainMention{
    background-image: url("../img/miniprevtitle.gif");
    color:#fff ;
    background-size : auto 100% ;
    background-position: 100% 0;
    background-repeat: no-repeat;
    font-weight: 400;
}

/*DEFINE SIZE */
.trainLine{
    font-family: 'Source Sans Pro';
    font-size:  2em;
    height:1.2em;
    line-height: 1.2em;
    font-weight: 400;
}



#mainView .digitalClock{
    position:fixed;
    z-index:20;
    bottom:0;
    left:10px;
    font-size: 2.5em;
    line-height: 1em;
    background-color : #f0f0f0 ;

    -moz-box-shadow: 0px 0px 10px 10px #f0f0f0;
    -webkit-box-shadow: 0px 0px 10px 10px #f0f0f0;
    -o-box-shadow: 0px 0px 10px 10px #f0f0f0;
    box-shadow: 0px 0px 10px 10px #f0f0f0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#f0f0f0, Direction=NaN, Strength=10);
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
.dark #mainView .digitalClock{
    background-color : #292728 ;
    -moz-box-shadow: 0px 0px 10px 10px #292728;
    -webkit-box-shadow: 0px 0px 10px 10px #292728;
    -o-box-shadow: 0px 0px 10px 10px #292728;
    box-shadow: 0px 0px 10px 10px #292728;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#292728, Direction=NaN, Strength=10);
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
.clockRight #mainView .digitalClock{
    right:-10px;
    left:auto;
}
.clocktTop #mainView .digitalClock{
    top:10px;
    bottom:auto;
}



#mainView .digitalClock:after{
    background: -moz-linear-gradient(left,  rgba(240,240,240,1) 0%, rgba(240,240,240,1) 4%, rgba(240,240,240,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,1)), color-stop(4%,rgba(240,240,240,1)), color-stop(100%,rgba(240,240,240,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 4%,rgba(240,240,240,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 4%,rgba(240,240,240,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 4%,rgba(240,240,240,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 4%,rgba(240,240,240,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#00f0f0f0',GradientType=1 ); /* IE6-9 */
}


@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot);
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(fonts/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot) format('embedded-opentype'), url(fonts/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot);
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(fonts/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot) format('embedded-opentype'), url(fonts/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(fonts/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot);
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(fonts/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot) format('embedded-opentype'), url(fonts/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    src: url(fonts/qhIa0Jl7ziRjUBxIWMni1_esZW2xOQ-xsNqO47m55DA.eot);
    src: local('Orbitron-Light'), local('Orbitron-Regular'), url(fonts/qhIa0Jl7ziRjUBxIWMni1_esZW2xOQ-xsNqO47m55DA.eot) format('embedded-opentype'), url(fonts/94ug0rEgQO_WuI_xKJMFc_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

/**/
/*
@font-face{
    font-family: "PRINC";
    src: url('http://www.fontsforweb.com/public/fonts/494/PRINC.eot');
    src: local("Print Clearly"), url('http://www.fontsforweb.com/public/fonts/494/PRINC.ttf') format("truetype");
}
@font-face{
    font-family: "gillsans";
    src: url('http://www.fontsforweb.com/public/fonts/1311/gillsans.eot');
    src: local("GillSans"), url('http://www.fontsforweb.com/public/fonts/1311/gillsans.ttf') format("truetype");
}
@font-face{
    font-family: "myriadprocond";
    src: url('http://www.fontsforweb.com/public/fonts/1328/myriadprocond.eot');
    src: local("MyriadPro-Cond"), url('http://www.fontsforweb.com/public/fonts/1328/myriadprocond.ttf') format("truetype");
}
@font-face{
    font-family: "SansationLight";
    src: url('http://www.fontsforweb.com/public/fonts/423/SansationLight.eot');
    src: local("Sansation Light"), url('http://www.fontsforweb.com/public/fonts/423/SansationLight.ttf') format("truetype");
}
@font-face{
    font-family: "CaviarDreamsBold";
    src: url('http://www.fontsforweb.com/public/fonts/1189/CaviarDreamsBold.eot');
    src: local("Caviar Dreams Bold"), url('http://www.fontsforweb.com/public/fonts/1189/CaviarDreamsBold.ttf') format("truetype");
}
@font-face{
    font-family: "AllerRg";
    src: url('http://www.fontsforweb.com/public/fonts/1171/AllerRg.eot');
    src: local("Aller"), url('http://www.fontsforweb.com/public/fonts/1171/AllerRg.ttf') format("truetype");
}
@font-face{
    font-family: "MuliLight";
    src: url('http://www.fontsforweb.com/public/fonts/1132/MuliLight.eot');
    src: local("Muli Light"), url('http://www.fontsforweb.com/public/fonts/1132/MuliLight.ttf') format("truetype");
}*/